<form [formGroup]="addCountryForm" (ngSubmit)="addCountryOnSubmit()">
  <div class="form-row">
    <div class="form-group col-md-5">
      <input
        type="text"
        class="form-control"
        name="country"
        value=""
        placeholder="Country"
        formControlName="country"
      />
    </div>

    <div class="form-group col-md-5">
      <input
        type="text"
        class="form-control"
        name="capital"
        value=""
        placeholder="Capital"
        formControlName="capital"
      />
    </div>

    <div class="form-group col-md-2">
      <button type="submit" class="btn btn-primary" onclick="">Add</button>
    </div>
  </div>
</form>
<form [formGroup]="removeCountryForm" (ngSubmit)="removeCountryOnSubmit()">
  <div class="form-row">
    <div class="form-group col-md-8">
      <input
        type="text"
        class="form-control"
        name="country"
        value=""
        placeholder="Country"
        formControlName="country"
      />
    </div>
    <div class="form-group col-md-3">
      <button type="submit" class="btn btn-danger">Delete</button>
    </div>
  </div>
</form>
<dict-table [rows]="rows" (_removeCountry)="removeCountry($event)"></dict-table>
