<div class="container">
  <table class="table table-hover">
    <thead>
      <tr *ngIf="rows">
        <th scope="col" *ngFor="let col of rows[0] | keyvalue: originalOrder">
          {{ col.key | titlecase }}
        </th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of rows">
        <ng-container *ngIf="row.id !== -1; else dictHeading">
          <td *ngFor="let element of row | keyvalue: originalOrder">
            {{ element.value }}
          </td>
          <td>
            <button class="btn btn-danger" (click)="removeCountry(row.name)">
              Delete
            </button>
          </td>
        </ng-container>
        <ng-template #dictHeading>
          <th scope="row" colspan="4">{{ row.capital }}</th>
        </ng-template>
      </tr>
    </tbody>
  </table>
</div>
