<div class="landing-container">
  <div *ngIf="!receivedAuthToken; else loadingDone">
    <p class="status loading">{{ "landing.setting-up-text" | translate }}</p>
  </div>
  <ng-template #loadingDone>
    <p class="status done">{{ "landing.setup-done-text" | translate }}</p>
  </ng-template>
  <div class="buttons-container">
    <button
      class="btn btn-warning"
      [disabled]="!receivedAuthToken"
      (click)="countriesNavigate()"
    >
      {{ "landing.countries-button-text" | translate }}
    </button>
    <button
      class="btn btn-warning"
      [disabled]="!receivedAuthToken"
      (click)="statesNavigate()"
    >
      {{ "landing.states-button-text" | translate }}
    </button>
    <button
      class="btn btn-warning"
      [disabled]="!receivedAuthToken"
      (click)="citiesNavigate()"
    >
      {{ "landing.cities-button-text" | translate }}
    </button>
  </div>
</div>
