<main-template>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="header-text-container">
          <div class="header-text">
            {{ "cities." + _header + "-table-header-text" | translate }}
          </div>
          <div class="back-button-container" *ngIf="!isCountryTableShown">
            <button
              class="btn btn-primary back-button"
              (click)="goBackToCountries()"
            >
              {{ "cities.back-button-text" | translate }}
            </button>
          </div>
        </div>
        <div class="country-table-container">
          <dict-table
            [rows]="rows$ | async"
            (_rowClicked)="rowSelected($event)"
          ></dict-table>
        </div>
      </div>
      <div class="col city-table">
        <div class="header-text-container">
          <div class="header-text">
            {{ "cities.cities-table-header-text" | translate }}
          </div>
        </div>
        <div class="city-table-container">
          <dict-table
            *ngIf="cityRows$ | async; else staticContent"
            [rows]="cityRows$ | async"
          ></dict-table>
        </div>
        <ng-template #staticContent>
          <p class="static-text">
            {{
              "cities.main-static-text"
                | translate
                  : {
                      first:
                        (isCountryTableShown
                          ? "cities.country-static-text"
                          : "cities.state-static-text"
                        ) | translate,
                      second:
                        (isCountryTableShown
                          ? "cities.states-static-text"
                          : "cities.cities-static-text"
                        ) | translate
                    }
            }}
          </p>
        </ng-template>
      </div>
    </div>
  </div>
</main-template>
